[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
[submodule "third_party/SOIL2"]
	path = third_party/SOIL2
	url = https://github.com/SpartanJ/SOIL2.git
[submodule "third_party/gli"]
	path = third_party/gli
	url = https://github.com/g-truc/gli.git
[submodule "third_party/smaa"]
	path = third_party/smaa
	url = https://github.com/iryoku/smaa.git
[submodule "third_party/meshoptimizer"]
	path = third_party/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/assimp"]
	path = third_party/assimp
	url = https://github.com/tigert1998/assimp.git
